@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

<div class="container">
    <div class="row" >
        <div class="col-6">
            <ul class="list-group" id="messagesList"></ul>
        </div>
    </div>
    <br />
    <div class="input-group mb-3">
        @if (User.Identity.IsAuthenticated)
        {
            <input type="hidden" id="userInput" value="@User.Identity.Name" />
            <input type="text" class="form-control" placeholder="Enter your message" aria-label="Enter your message" aria-describedby="basic-addon2" id="messageInput">
            <div class="input-group-append">
                <input class="btn btn-secondary" type="button" id="sendButton" value="Send Message" />
            </div>
        }
        else
        {
            <div class="col-md-offset-2 col-md-10">
                <h2>If you want use chat, please, login yourself</h2>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <a asp-controller="Account" asp-action="Login">Log in</a>
            </div>
        }
    </div>
</div>

<script src="~/signalr/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
