@model ResetPasswordViewModel

<h1>Reset Your Password</h1>

<div class="row justify-content-center align-items-center h-100 loginForm">
    <div class="col-md-8 col-md-offset-2">
        <form asp-controller="Account" asp-action="ResetUserPassword" method="post">
            <input type="hidden" asp-for="Token" />

            <div class="form-group">
                <label class="col-md-2 control-label">Username</label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">New&nbspPassword</label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Confirm&nbspPassword</label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success btn-lg btn-block" value="Reset Password" />
                </div>
            </div>

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>
