<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style> .input-validation-error { border-color: red; background-color: #fee; } </style>
</head>
<body  style="background: #EEEEEE;">
    <div class="container card-body">
        <div class="bg-dark p-2 text-light">
            <h4>@ViewBag.Title</h4>
        </div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
